.category-accordion {
	img {
		width: 18px;
		height: 100%;
	}
	button {
		color: #000;
		transition: all 120ms linear;
		background-color: transparent;
		border: none;
		font-size: 1rem;

		&:hover {
			cursor: pointer;
			color: green;
			text-decoration: underline;
		}
	}

	.selected-category {
		margin-top: 23px;
	}

	.accordion__body {
		padding-top: 23px;
		height: 0;
		overflow: hidden;
		transition: all 170ms linear;

		.accordion__body_inner {
			display: flex;
			flex-direction: column;
			gap: 15px;

			li {
				transition: all 120ms linear;
				&:active {
					transform: scale(0.98);
				}
			}
		}
	}

	.accordion__body_open {
		height: 150px;
	}
}
