.talent-accordion {
	.accordion__body {
		height: 0;
		overflow: hidden;
		transition: all 270ms linear;

		.accordion__body_inner {
			display: flex;
			flex-direction: column;
			gap: 10px;

			.accordion__rate {
				label {
					width: 100%;
					display: flex;
					align-items: center;
					gap: 10px;
					cursor: pointer;
					padding: 0.5rem 0;

					img {
						width: 23px;
						height: 100%;
					}
				}
			}
		}
	}

	.accordion__body_open {
		padding-top: 20px;
		height: 155px;
	}
}
